* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --main-color: rgba(255, 80, 95, 0.74);
}

body {
  background-color: var(--main-color);
  height: 100vh;
}
/* 
header {
  height: 10vh;
} */

main {
  height: 85vh;
}

footer {
  height: 5vh;
}

#arrow-btn {
  width: 100px;
}

#app-logo {
  width: 100%;
}

#home-icon {
  height: 5vh;
}

#user-menu-img {
  height: 5vh;
}

.slide-city-img {
  height: 3rem;
  margin: 0 auto;
}
