* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  width: 100vw;
  height: 100%;
}

body {
  width: 100vw;
  position: relative;
  background: linear-gradient(
      55deg,
      rgba(208, 208, 208, 0.03) 0%,
      rgba(208, 208, 208, 0.03) 20%,
      rgba(55, 55, 55, 0.03) 20%,
      rgba(55, 55, 55, 0.03) 40%,
      rgba(81, 81, 81, 0.03) 40%,
      rgba(81, 81, 81, 0.03) 60%,
      rgba(208, 208, 208, 0.03) 60%,
      rgba(208, 208, 208, 0.03) 80%,
      rgba(191, 191, 191, 0.03) 80%,
      rgba(191, 191, 191, 0.03) 100%
    ),
    linear-gradient(
      291deg,
      rgba(190, 190, 190, 0.02) 0%,
      rgba(190, 190, 190, 0.02) 14.286%,
      rgba(105, 105, 105, 0.02) 14.286%,
      rgba(105, 105, 105, 0.02) 28.572%,
      rgba(230, 230, 230, 0.02) 28.572%,
      rgba(230, 230, 230, 0.02) 42.858%,
      rgba(216, 216, 216, 0.02) 42.858%,
      rgba(216, 216, 216, 0.02) 57.144%,
      rgba(181, 181, 181, 0.02) 57.144%,
      rgba(181, 181, 181, 0.02) 71.42999999999999%,
      rgba(129, 129, 129, 0.02) 71.43%,
      rgba(129, 129, 129, 0.02) 85.71600000000001%,
      rgba(75, 75, 75, 0.02) 85.716%,
      rgba(75, 75, 75, 0.02) 100.002%
    ),
    linear-gradient(
      32deg,
      rgba(212, 212, 212, 0.03) 0%,
      rgba(212, 212, 212, 0.03) 12.5%,
      rgba(223, 223, 223, 0.03) 12.5%,
      rgba(223, 223, 223, 0.03) 25%,
      rgba(11, 11, 11, 0.03) 25%,
      rgba(11, 11, 11, 0.03) 37.5%,
      rgba(86, 86, 86, 0.03) 37.5%,
      rgba(86, 86, 86, 0.03) 50%,
      rgba(106, 106, 106, 0.03) 50%,
      rgba(106, 106, 106, 0.03) 62.5%,
      rgba(220, 220, 220, 0.03) 62.5%,
      rgba(220, 220, 220, 0.03) 75%,
      rgba(91, 91, 91, 0.03) 75%,
      rgba(91, 91, 91, 0.03) 87.5%,
      rgba(216, 216, 216, 0.03) 87.5%,
      rgba(216, 216, 216, 0.03) 100%
    ),
    linear-gradient(
      312deg,
      rgba(113, 113, 113, 0.01) 0%,
      rgba(113, 113, 113, 0.01) 14.286%,
      rgba(54, 54, 54, 0.01) 14.286%,
      rgba(54, 54, 54, 0.01) 28.572%,
      rgba(166, 166, 166, 0.01) 28.572%,
      rgba(166, 166, 166, 0.01) 42.858%,
      rgba(226, 226, 226, 0.01) 42.858%,
      rgba(226, 226, 226, 0.01) 57.144%,
      rgba(109, 109, 109, 0.01) 57.144%,
      rgba(109, 109, 109, 0.01) 71.42999999999999%,
      rgba(239, 239, 239, 0.01) 71.43%,
      rgba(239, 239, 239, 0.01) 85.71600000000001%,
      rgba(54, 54, 54, 0.01) 85.716%,
      rgba(54, 54, 54, 0.01) 100.002%
    ),
    linear-gradient(
      22deg,
      rgba(77, 77, 77, 0.03) 0%,
      rgba(77, 77, 77, 0.03) 20%,
      rgba(235, 235, 235, 0.03) 20%,
      rgba(235, 235, 235, 0.03) 40%,
      rgba(215, 215, 215, 0.03) 40%,
      rgba(215, 215, 215, 0.03) 60%,
      rgba(181, 181, 181, 0.03) 60%,
      rgba(181, 181, 181, 0.03) 80%,
      rgba(193, 193, 193, 0.03) 80%,
      rgba(193, 193, 193, 0.03) 100%
    ),
    linear-gradient(
      80deg,
      rgba(139, 139, 139, 0.02) 0%,
      rgba(139, 139, 139, 0.02) 14.286%,
      rgba(114, 114, 114, 0.02) 14.286%,
      rgba(114, 114, 114, 0.02) 28.572%,
      rgba(240, 240, 240, 0.02) 28.572%,
      rgba(240, 240, 240, 0.02) 42.858%,
      rgba(221, 221, 221, 0.02) 42.858%,
      rgba(221, 221, 221, 0.02) 57.144%,
      rgba(74, 74, 74, 0.02) 57.144%,
      rgba(74, 74, 74, 0.02) 71.42999999999999%,
      rgba(201, 201, 201, 0.02) 71.43%,
      rgba(201, 201, 201, 0.02) 85.71600000000001%,
      rgba(187, 187, 187, 0.02) 85.716%,
      rgba(187, 187, 187, 0.02) 100.002%
    ),
    linear-gradient(
      257deg,
      rgba(72, 72, 72, 0.03) 0%,
      rgba(72, 72, 72, 0.03) 16.667%,
      rgba(138, 138, 138, 0.03) 16.667%,
      rgba(138, 138, 138, 0.03) 33.334%,
      rgba(54, 54, 54, 0.03) 33.334%,
      rgba(54, 54, 54, 0.03) 50.001000000000005%,
      rgba(161, 161, 161, 0.03) 50.001%,
      rgba(161, 161, 161, 0.03) 66.668%,
      rgba(17, 17, 17, 0.03) 66.668%,
      rgba(17, 17, 17, 0.03) 83.33500000000001%,
      rgba(230, 230, 230, 0.03) 83.335%,
      rgba(230, 230, 230, 0.03) 100.002%
    ),
    linear-gradient(
      47deg,
      rgba(191, 191, 191, 0.01) 0%,
      rgba(191, 191, 191, 0.01) 16.667%,
      rgba(27, 27, 27, 0.01) 16.667%,
      rgba(27, 27, 27, 0.01) 33.334%,
      rgba(66, 66, 66, 0.01) 33.334%,
      rgba(66, 66, 66, 0.01) 50.001000000000005%,
      rgba(36, 36, 36, 0.01) 50.001%,
      rgba(36, 36, 36, 0.01) 66.668%,
      rgba(230, 230, 230, 0.01) 66.668%,
      rgba(230, 230, 230, 0.01) 83.33500000000001%,
      rgba(93, 93, 93, 0.01) 83.335%,
      rgba(93, 93, 93, 0.01) 100.002%
    ),
    linear-gradient(90deg, #fff, #fff);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

a:link {
  color: black;
}

a:visited {
  color: black;
}

a:hover {
  color: black;
}

a:active {
  color: black;
}

nav {
  background: linear-gradient(
      177deg,
      rgba(191, 191, 191, 0.03) 0%,
      rgba(191, 191, 191, 0.03) 12.5%,
      rgba(92, 92, 92, 0.03) 12.5%,
      rgba(92, 92, 92, 0.03) 25%,
      rgba(19, 19, 19, 0.03) 25%,
      rgba(19, 19, 19, 0.03) 37.5%,
      rgba(89, 89, 89, 0.03) 37.5%,
      rgba(89, 89, 89, 0.03) 50%,
      rgba(69, 69, 69, 0.03) 50%,
      rgba(69, 69, 69, 0.03) 62.5%,
      rgba(93, 93, 93, 0.03) 62.5%,
      rgba(93, 93, 93, 0.03) 75%,
      rgba(209, 209, 209, 0.03) 75%,
      rgba(209, 209, 209, 0.03) 87.5%,
      rgba(229, 229, 229, 0.03) 87.5%,
      rgba(229, 229, 229, 0.03) 100%
    ),
    linear-gradient(
      151deg,
      rgba(121, 121, 121, 0.02) 0%,
      rgba(121, 121, 121, 0.02) 25%,
      rgba(230, 230, 230, 0.02) 25%,
      rgba(230, 230, 230, 0.02) 50%,
      rgba(31, 31, 31, 0.02) 50%,
      rgba(31, 31, 31, 0.02) 75%,
      rgba(166, 166, 166, 0.02) 75%,
      rgba(166, 166, 166, 0.02) 100%
    ),
    linear-gradient(
      129deg,
      rgba(132, 132, 132, 0.01) 0%,
      rgba(132, 132, 132, 0.01) 25%,
      rgba(115, 115, 115, 0.01) 25%,
      rgba(115, 115, 115, 0.01) 50%,
      rgba(145, 145, 145, 0.01) 50%,
      rgba(145, 145, 145, 0.01) 75%,
      rgba(250, 250, 250, 0.01) 75%,
      rgba(250, 250, 250, 0.01) 100%
    ),
    linear-gradient(
      112deg,
      rgba(121, 121, 121, 0.03) 0%,
      rgba(121, 121, 121, 0.03) 14.286%,
      rgba(124, 124, 124, 0.03) 14.286%,
      rgba(124, 124, 124, 0.03) 28.572%,
      rgba(188, 188, 188, 0.03) 28.572%,
      rgba(188, 188, 188, 0.03) 42.858%,
      rgba(23, 23, 23, 0.03) 42.858%,
      rgba(23, 23, 23, 0.03) 57.144%,
      rgba(56, 56, 56, 0.03) 57.144%,
      rgba(56, 56, 56, 0.03) 71.42999999999999%,
      rgba(141, 141, 141, 0.03) 71.43%,
      rgba(141, 141, 141, 0.03) 85.71600000000001%,
      rgba(170, 170, 170, 0.03) 85.716%,
      rgba(170, 170, 170, 0.03) 100.002%
    ),
    linear-gradient(
      122deg,
      rgba(156, 156, 156, 0.02) 0%,
      rgba(156, 156, 156, 0.02) 25%,
      rgba(146, 146, 146, 0.02) 25%,
      rgba(146, 146, 146, 0.02) 50%,
      rgba(118, 118, 118, 0.02) 50%,
      rgba(118, 118, 118, 0.02) 75%,
      rgba(81, 81, 81, 0.02) 75%,
      rgba(81, 81, 81, 0.02) 100%
    ),
    linear-gradient(
      221deg,
      rgba(223, 223, 223, 0.02) 0%,
      rgba(223, 223, 223, 0.02) 12.5%,
      rgba(163, 163, 163, 0.02) 12.5%,
      rgba(163, 163, 163, 0.02) 25%,
      rgba(250, 250, 250, 0.02) 25%,
      rgba(250, 250, 250, 0.02) 37.5%,
      rgba(32, 32, 32, 0.02) 37.5%,
      rgba(32, 32, 32, 0.02) 50%,
      rgba(78, 78, 78, 0.02) 50%,
      rgba(78, 78, 78, 0.02) 62.5%,
      rgba(8, 8, 8, 0.02) 62.5%,
      rgba(8, 8, 8, 0.02) 75%,
      rgba(235, 235, 235, 0.02) 75%,
      rgba(235, 235, 235, 0.02) 87.5%,
      rgba(100, 100, 100, 0.02) 87.5%,
      rgba(100, 100, 100, 0.02) 100%
    ),
    linear-gradient(
      103deg,
      rgba(153, 153, 153, 0.03) 0%,
      rgba(153, 153, 153, 0.03) 12.5%,
      rgba(190, 190, 190, 0.03) 12.5%,
      rgba(190, 190, 190, 0.03) 25%,
      rgba(234, 234, 234, 0.03) 25%,
      rgba(234, 234, 234, 0.03) 37.5%,
      rgba(149, 149, 149, 0.03) 37.5%,
      rgba(149, 149, 149, 0.03) 50%,
      rgba(167, 167, 167, 0.03) 50%,
      rgba(167, 167, 167, 0.03) 62.5%,
      rgba(106, 106, 106, 0.03) 62.5%,
      rgba(106, 106, 106, 0.03) 75%,
      rgba(55, 55, 55, 0.03) 75%,
      rgba(55, 55, 55, 0.03) 87.5%,
      rgba(106, 106, 106, 0.03) 87.5%,
      rgba(106, 106, 106, 0.03) 100%
    ),
    linear-gradient(
      272deg,
      rgba(211, 211, 211, 0.03) 0%,
      rgba(211, 211, 211, 0.03) 16.667%,
      rgba(14, 14, 14, 0.03) 16.667%,
      rgba(14, 14, 14, 0.03) 33.334%,
      rgba(132, 132, 132, 0.03) 33.334%,
      rgba(132, 132, 132, 0.03) 50.001000000000005%,
      rgba(60, 60, 60, 0.03) 50.001%,
      rgba(60, 60, 60, 0.03) 66.668%,
      rgba(22, 22, 22, 0.03) 66.668%,
      rgba(22, 22, 22, 0.03) 83.33500000000001%,
      rgba(230, 230, 230, 0.03) 83.335%,
      rgba(230, 230, 230, 0.03) 100.002%
    ),
    linear-gradient(
      343deg,
      rgba(209, 209, 209, 0.03) 0%,
      rgba(209, 209, 209, 0.03) 12.5%,
      rgba(6, 6, 6, 0.03) 12.5%,
      rgba(6, 6, 6, 0.03) 25%,
      rgba(27, 27, 27, 0.03) 25%,
      rgba(27, 27, 27, 0.03) 37.5%,
      rgba(78, 78, 78, 0.03) 37.5%,
      rgba(78, 78, 78, 0.03) 50%,
      rgba(137, 137, 137, 0.03) 50%,
      rgba(137, 137, 137, 0.03) 62.5%,
      rgba(158, 158, 158, 0.03) 62.5%,
      rgba(158, 158, 158, 0.03) 75%,
      rgba(100, 100, 100, 0.03) 75%,
      rgba(100, 100, 100, 0.03) 87.5%,
      rgba(97, 97, 97, 0.03) 87.5%,
      rgba(97, 97, 97, 0.03) 100%
    ),
    linear-gradient(90deg, hsl(151, 0%, 88%), hsl(151, 0%, 88%));
}

#registration {
  display: flex;
  flex-direction: column;
}

#registration input[type='submit'] {
  width: 50%;
  align-self: center;
}

@media screen and (min-width: 720px) {
  body {
    display: block;
    overflow: hidden;
  }

  header {
    display: flex;
    height: 25vh;
    width: 100vw;
    align-items: flex-start;
    background-image: url(../assets/design1_image1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: -50px;
    clear: both;
  }

  header > h1 {
    margin-left: 1.5em;
    text-align: start;
    font-size: 3em;
    text-shadow: darkgrey 2px 2px;
  }

  nav {
    display: flex;
    width: 15vw;
    height: 69vh;
    flex-direction: column;
    float: left;
    align-content: flex-start;
    margin-top: 6vh;
    padding: 0.5em;
  }

  nav > ul {
    width: 100%;
  }

  .nav_item {
    margin: 0.5em;
    padding: 0.5em;
    background-color: whitesmoke;
    border: solid 1px olivedrab;
  }

  .nav_item:hover {
    background-color: khaki;
    transform-origin: left center;
    transform: scaleX(1.2) scaleY(1.15);
  }

  .nav_item > a {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    text-transform: uppercase;
    font-weight: bolder;
  }

  section {
    height: 69vh;
    display: block;
    float: left;
    width: 80vw;
    margin-top: 6vh;
    padding: 1.5em;
    overflow: auto;
  }

  .logo_section {
    position: absolute;
    top: 28vh;
    right: 10vw;
    width: 10vw;
    transform: translateY(-50%);
    z-index: 5;
  }

  .banner {
    position: absolute;
    top: 25vh;
    left: 0;
    height: 6vh;
    width: 100vw;
    font-weight: bolder;
    font-size: 2em;
    color: antiquewhite;
    text-align: center;
    text-shadow: grey 2px 1px;
    background-color: black;
  }

  /* HOME */
  #event-container {
    height: 100%;
    padding: 0 2em;
  }

  #event-container > li {
    font-size: 1.2em;
    margin-bottom: 1em;
  }

  .event {
    padding-left: 2em;
  }

  /* ABOUT */
  .about-article {
    display: block;
    width: 80%;
    margin: 0 auto;
  }

  .about-article h3 {
    font-size: 2em;
    margin-top: 0.8em;
  }

  .about-article p {
    font-size: 1em;
    margin-left: 5%;
  }

  /* RULES */
  ul h3,
  ul strong {
    text-transform: uppercase;
  }

  .mainList {
    margin: 10px 20px;
    padding: 0px 30px;
  }

  .mainList > li {
    margin-top: 20px;
  }

  .subList > li {
    margin-top: 10px;
  }

  .listClean {
    list-style-type: none;
  }

  .listSqr {
    list-style-type: square;
  }

  .listCirc {
    list-style-type: circle;
    padding-left: 1em;
  }

  .listAbc {
    list-style-type: lower-alpha;
    padding-left: 1em;
  }

  /* CONTACT */
  .contact {
    font-size: 1.5em;
    margin-left: 2em;
  }

  .normal-email {
    text-decoration: underline;
  }

  /* INFORMATION */
  em {
    text-decoration: underline;
  }

  table {
    width: 85%;
    margin: 20px auto;
    padding: 0px 30px;
  }

  th,
  td {
    width: 25%;
    padding: 2px 5px;
  }

  #month th,
  #gameLoc th {
    text-align: center;
    text-decoration: underline;
    font-size: 1.1em;
    text-transform: uppercase;
  }

  #gameLoc td {
    width: 50%;
  }

  .schoolInfo {
    font-weight: bolder;
    text-align: right;
  }

  .match-info-row {
    text-align: center;
    vertical-align: middle;
  }

  .table-info {
    text-align: left;
  }

  .blank {
    height: 0.5em;
  }

  /* REGISTRATION */
  #registration {
    width: 90%;
    margin: 1em auto;
  }

  fieldset {
    margin-bottom: 1em;
    padding: 1em;
    border: solid seagreen 2px;
    border-radius: 2em;
  }

  .red-outline {
    border: solid crimson 2px;
  }

  legend {
    text-transform: uppercase;
    font-size: 1.2em;
    font-weight: bolder;
  }

  .field-container {
    display: flex;
    margin-top: 0.1em;
  }

  .double-column-field,
  .single-column-field {
    justify-content: flex-start;
  }

  .double-column-field > label {
    width: 15%;
  }

  .double-column-field > input {
    width: 35%;
  }

  .double-column-field > div {
    width: 50%;
  }

  .single-column-field > label {
    width: 15%;
  }

  .single-column-field > input {
    width: 85%;
  }

  .select > label {
    display: inline;
  }

  .select > select {
    width: 65%;
  }

  .play-positions > label {
    display: inline-block;
    width: 24%;
  }

  .uniform label {
    display: inline-block;
    width: 13%;
  }

  .red-outline > p {
    margin-bottom: 0.1em;
  }

  .red-outline label {
    width: 25%;
  }

  .red-outline label:last-of-type {
    width: 10%;
    margin-left: 2em;
  }
}

@media screen and (max-width: 720px) {
  header {
    display: flex;
    height: 10vh;
    width: 100vw;
    align-items: flex-start;
    background-image: url(../assets/design2_image1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: top;
    clear: both;
  }

  header > h1 {
    margin-left: 0.5em;
    text-align: start;
    font-size: 1.5em;
    text-shadow: darkgrey 2px 2px;
  }

  nav {
    width: 100vw;
    padding: 0.2em;
  }

  nav > ul {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
  }

  .nav_item {
    display: inline-block;
    width: 30%;
    margin: 0.1em;
    padding: 0.1em;
    background-color: whitesmoke;
    border: solid 1px olivedrab;
  }

  .nav_item > a {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    text-transform: uppercase;
    font-weight: bolder;
  }

  .logo_section {
    position: fixed;
    top: 50vh;
    right: 50vw;
    transform: translate(50%, -50%) scale(0.8);
    z-index: -1;
    opacity: 0.1;
  }

  .banner {
    display: block;
    width: 100vw;
    height: 1.5em;
    margin-bottom: 0.5em;
    font-weight: bolder;
    font-size: 1.5em;
    color: antiquewhite;
    text-align: center;
    text-shadow: grey 2px 1px;
    background-color: black;
  }

  section {
    padding-bottom: 1em;
    width: 100%;
  }

  /* HOME  */
  #event-container {
    padding: 0 2em;
  }

  #event-container > li {
    height: 30%;
    font-size: 1.2em;
    margin-bottom: 1em;
  }

  .event {
    margin-left: 0.8em;
  }

  /* ABOUT  */
  .about-article {
    display: block;
    width: 80%;
    margin: 0 auto;
  }

  .about-article h3 {
    font-size: 2em;
    margin-top: 0.8em;
  }

  .about-article p {
    font-size: 1em;
    margin-left: 5%;
  }

  /* RULES */
  section > p:first-of-type {
    padding: 0 0.5em;
    margin-bottom: 1em;
  }

  ul h3,
  ul strong {
    text-transform: uppercase;
  }

  .mainList {
    margin: 0 1em;
  }

  .mainList > li {
    padding: 0 1em;
    margin-bottom: 1em;
  }

  .subList > li {
    padding: 0 1em;
    margin: 1em 0;
  }

  .listClean {
    list-style-type: none;
    margin-bottom: 0.5em;
  }

  .listSqr {
    list-style-type: square;
    margin-bottom: 0.5em;
  }

  .listCirc {
    list-style-type: circle;
    padding-left: 1em;
    margin-bottom: 0.5em;
  }

  .listAbc {
    list-style-type: lower-alpha;
    padding-left: 1em;
    margin-bottom: 0.5em;
  }

  /* CONTACT */
  .contact {
    font-size: 1.5em;
    padding: 1em;
  }

  .normal-email {
    display: inline;
    text-decoration: underline;
  }

  /* INFORMATION */
  em {
    text-decoration: underline;
  }

  table {
    width: 100%;
    padding: 0.5em;
  }

  #month th,
  #gameLoc th {
    text-align: center;
    text-decoration: underline;
    text-transform: uppercase;
    font-weight: bold;
  }

  #month td {
    font-size: 0.9em;
  }

  .match-info-row {
    text-align: center;
    vertical-align: middle;
  }

  #gameLoc iframe {
    width: 100%;
    height: 6em;
  }

  .schoolInfo {
    width: 40%;
    font-weight: bolder;
    font-size: 0.9em;
  }

  .table-info {
    text-align: left;
  }

  .blank {
    height: 0.5em;
  }

  /* REGISTRATION  */
  #registration {
    margin: 0.5em;
  }

  fieldset {
    margin-bottom: 0.5em;
    padding: 0.5em;
    border: solid seagreen 2px;
    border-radius: 2em;
  }

  legend {
    text-transform: uppercase;
    font-size: 0.85em;
    font-weight: bolder;
  }

  label {
    margin-top: 0.2em;
    font-size: 0.8em;
  }

  .red-outline {
    border: solid crimson 2px;
  }

  .field-container {
    display: flex;
    flex-direction: column;
    margin-top: 0.1em;
  }

  .darker-label {
    font-weight: bolder;
  }

  .double-column-field,
  .single-column-field {
    justify-content: flex-start;
  }

  .field-container.single-column-field:last-of-type,
  .field-container.double-column-field div:last-of-type {
    flex-direction: row;
  }

  .uniform label {
    display: inline-block;
  }

  .red-outline > p {
    margin-bottom: 0.2em;
  }
}
